/* Survey page styles */

.photo{
  width: 60%;
  padding: 10px;
}

form {
  margin: 0 auto;
  text-align: left;
  display: inline-block;
}

.container{
  text-align: center;
}
.newsletter{
  text-align: center;
}

legend {
  text-decoration: none;
  margin-bottom: 5px;
}

fieldset {
    border-style: none;
    margin-left: -14px; 
}

label {
    display: block;
    text-align: left;
    margin: 10px 0px;
}

.bandmember {
    display: inline-block;
}

select {
    display: block;
    margin: 20px 0px;
}

textarea {
    display: block;
    margin: 15px 0px;
}

.signup {
    display: flex;
    margin: 10px 0px;
    text-align: right;
    flex-direction: row;
    justify-content: flex-end;
}

.signup input {
    margin: 10px 0px 10px 10px;
}

.newsletter {
    display: block; 
}

button {
    float: right;
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: #C7E1E7;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin: 0 auto;
    border: 2px solid rgba(0, 0, 0, 0.0); 
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

button:hover {
    margin: 0 auto;
    color: #fff;
    border: 2px solid #fff; 
    transition: all .5s;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

input:focus,
textarea:focus {
	outline: 0;
    border: 2px solid coral;
    background-color: #C7E1E7;
    -webkit-transition:  all 0.5s ease-in-out;  
    transition:  all 0.5s ease-in-out;
}

.newsletter:focus {
    background-color: #C7E1E7;
}

#hint {
    display: none;
}

/* Styles for larger screens */
@media screen and (min-width: 840px) {
  .photo{
    width: 40%;
  }
}
